<h1>THE DATA</h1>
<%= @data.inspect %>
<% @data["stationBeanList"].each do |h| %>
<dl>
	<dt><%= h["stationName"] %></dt>
		<dd><%= h["latitude"] %></dd>
		<dd><%= h["longitude"]%></dd>
		<% end %>
</dl>
